<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='displayGrid.css') }} ">
</head>
<body>
<div class="grid-container">
    <div class="header">
        <h1> Songs Then and Now </h1>
        <h2>English and Hindi hits compared over the decades</h2>
    </div>
    <!--<div> <img src="/danceability_visualisation_by_90sdecade/" alt="danceability_visualisation_by_90sdecade"> -->
    <div class="left">
            <img src="/danceability_visualisation_by_decade/" alt="danceability_visualisation_by_decade">
    </div>
    <div class="right" color="white" padding="20px">
        <br>
        This page shows the comparison between hindi and english hits in the 80s in terms of danceability.
        <br><br>

        Spotify gives a danceability score to each track based on tempo, loudness and other factors to determine how conducive a particular track is for dancing.
        Both English and Hindi songs have a good measure of slow and danceable tracks , providing a good balance of tastes.
        <br><br>
    </div>
    <div class="footer">
        <p style="background-color:#e9967a;">
            <a href=" {{ url_for('main.render_hindi_artists')}}" text-align="left;"> Previous Page</a>
            <a href=" {{ url_for('main.render_audio_features_more')}}" text-align="left;"> Next Page</a>
            </p></div>
</div>
</body>
</html>